html, body {
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

td.highlight {
    background-color: whitesmoke !important;
}

.block-error {
    padding: 1%;
    border-radius: 5px;
    background-color: lightcoral;
}

.block-success {
    padding: 1%;
    border-radius: 5px;
    background-color: lightgreen;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-connexion {
	color: white !important;
}

.btn-hidden {
    display: none !important;
}

#myTable > tbody > tr > td:nth-child(2),
#myTable > tbody > tr > td:nth-child(3),
#myTable > tbody > tr > td:nth-child(4),
#myTable > tbody > tr > td:nth-child(5) {
    text-align: center;
}

hr {
	margin-left: 0;
	margin-right: 0;
}

.hidden {
	display: none;
}

@media screen and (min-width: 654px) {
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 575.98px) {
    #install-pwa button {
        position: inherit;
        right: inherit;
        top: inherit;
        margin-top: 24px;
        margin-bottom: 10px;
        min-width: 120px;
        max-width: 120px;
    }
}